/*自定义全局样式*/
html, body, #app {
  height: 100%;
  width: 100%;
}

body {
  color: #666;
  font-size: 14px;
}

/*去除无序列表默认样式*/
ul, ol, li {
  list-style: none;
}

/*去除微元素的边框和内边距 让边框不占据宽度*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*去除a标签下划线*/
a {
  text-decoration: none;
}
